// Colors 
$off-black : #2b2420;
$off-white : #a5afd7;
$off-background : #333745;
$blue : #3c4251;
$light-blue : #464b5a;
$purple : #8357c5;
$facebookblue : #2b4170;
$Arybg:  rgb(52, 152, 219);

//font-size
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;

